/target/
*.class
/user_sessions.json
/com/
/CheckOutput.java
/SimpleBot.java
/TestBot.java
/media/photos/*
!/media/photos/.gitkeep
/media/output/*
!/media/output/.gitkeep
/media/edit_templates/*
!/media/edit_templates/.gitkeep
!/media/edit_templates/README.md
